{% extends "base.html.twig" %}

{% block title %}À propos - Tech Blog{% endblock %}

{% block body %}
    <h1>A propos</h1>
    <div class="about-content">
        <p>Tech Blog est un blog technique couvrant l'IA, Angular, Symfony, WebAssembly et les avancées récentes du développement logiciel.</p>
        <p>Développé par Eddy Etame.</p>
        
    </div>
{% endblock%}