{% extends "base.html.twig" %}

{% block title %}Mentions légales - Tech Blog{% endblock %}

{% block body %}
    <h1>Mentions légales</h1>
    <div class="legal-content">
        <p> Ce site est régi par les lois françaises et les lois internationales applicables. </p>
        <p> edition : {{ "now"|date("d/m/Y") }} </p>
        <p> contact : <a href="mailto:eddy.eetame@gmail.com">eddy.eetame@gmail.com</a> </p>
    </div>

{% endblock%}